#canvas {
    width: 500px;
    height: 500px;
    background-color: ivory;
    margin: 0 auto;
    box-shadow: 15px 15px 10px gray;
  }
  
  #first-row {
    height: 75%;
    width: 100%;
    background-color: brown;
  }
  
  #big-rectangle {
    height: 100%;
    width: 75%;
  }
  
  .red {
    background-color: red;
  }
  
  .right {
    float: right;
  }
  
  .black {
    background-color: black;
  }
  
  #first-divider {
    height: 100%;
    width: 3%;
  }
  
  #first-column {
    height: 100%;
    width: 22%;
  }
  
  #second-divider {
    height: 3%;
    width: 100%;
  }
  
  #first-medium-rectangle {
    height: 48.5%;
    width: 100%;
  }
  
  #second-medium-rectangle {
    height: 48.5%;
    width: 100%;
  }
  
  #second-row {
    height: 3%;
    width: 100%;
  }
  
  #third-row {
    height: 22%;
    width: 100%
  }
  
  #last-column {
    height: 100%;
    width: 8%;
  }
  
  #first-little-rectangle {
    height: 42.5%;
    width: 100%;
  }
  
  #third-divider {
    height: 15%;
    width: 100%;
  }
  
  #second-little-rectangle {
    height: 42.5%;
    width: 100%;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .blue {
    background-color: blue;
  }
  
  #fourt-divider {
    height: 100%;
    width: 3%;
  }
  
  #last-rectangle {
    height: 100%;
    width: 64%;
  }
  
  #last-devider {
    height: 100%;
    width: 3%;
  }
  
  #box {
    height: 100%;
    width: 22%;
  }  